
.row {
  display: flex; /* Enables flexbox layout */
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  text-align: center;
}


/* page.module.css */
.Square {
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
  font-size: 3rem;
  cursor: pointer;
  display: flex; /* Enables flexbox layout */
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  text-align: center;
  margin-right: 1rem;
  margin-left: 0rem;
}

.Square:hover {
  background-color: rgba(118, 113, 113, 0.273);
}

.status {
  font-size: 2rem;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resetContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.resetButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.resetButton:hover {
  background-color: rgba(118, 113, 113, 0.273);
}
